.app {
  background-color: rgb(35, 40, 60);
  width: 100%;
  color: whitesmoke;
  text-align: center;

}
/* css for header start here */

.header-section {
  margin: 0 auto 0 auto;
  width: 100%;
  background: rgb(45, 65, 89);
  border-bottom-right-radius: 50% 50%;
  border-bottom-left-radius: 50% 50%;
  height: 15vh;
}

.header-content {
  height: 100%;
  display: flex;
}
.header-content h2 {
  font-size: 3rem;
  margin: auto;
  font-family: sans-serif;
}

/* css for header ends here */

/* css for total start here */
.Total-section {
  display: flex;
  justify-content: space-around;
  width: 30%;
  padding: 2%;
  border-radius: 15px;
  margin: auto;
  text-align: center;
  background: #e68330;
  margin-top: 2%;
  margin-bottom: 2%;
}

.Total-sub {
  border-right: 1px solid whitesmoke;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.Total-sub2 {
  width: 50%;
}
.Total-digits {
  font-size: 2rem;
  margin-top: 2%;
}
/* css for total end here */

/* css for categories start here */
.cat-main
{
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  margin-top: 1%;
 
}
.cat-sub
{
  display: flex;
  align-items: center;
  width: 25%;
  justify-content: space-evenly;
  border: 1px solid violet;
  padding: 1%;
  font-size: larger;
  background-color: rgb(45, 65, 89);
  margin-bottom: 1%;
  cursor: pointer;
  transition: all .1s ease-in-out;

}
.cat-sub:hover
{
  transform: scale(1.03); 
}

.cat-sub .div2 
{
  width: 70%;
}
.cat-sub .div1
{
  width: 20%;
}
/* css for categories end here */




/* Responsiveness start here */

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .Total-section {
    width: 80%;
    margin-top: 5%;
  }
  .cat-sub
  {
    width: 80%;
    margin-bottom: 1%;
    
  }
 

}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  .Total-section {
    width: 80%;
    margin-top: 5%;
  }
  .cat-sub
  {
    width: 80%;
    margin-bottom: 2%;
    
  }
}
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  .header-section {
    height: 20vh;
  }
  .Total-section {
    width: 45%;
  }
}
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  .header-section {
    height: 25vh;
  }
  .Total-section {
    width: 35%;
  }
}
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  .header-section {
    height: 30vh;
  }
  .header-content h2 {
    font-size: 4rem;
  }
  .Total-section {
    width: 30%;
    margin-top: 2%;
  }
}
/* Responsiveness start here */
